doctype html
html 
    head 
        title #{pageTitle}
        link(rel="stylesheet", href=`${prefixAdmin}/css/style.css`)
    body 

        div(class="")

            div(class="pt-[100px]")
                block main

        script(src="/admin/js/script.js") 