doctype html
html 
    head 
        title #{pageTitle}
        link(rel="stylesheet", href=`${prefixAdmin}/css/style.css`)
    body 

        include ../partials/header.pug

        div(class="")

            include ../partials/sider.pug

            div(class="main m-[15px] relative left-[150px] w-[calc(100%_-_180px)]")
                block main

        //- tiny mce 
        script(src="https://cdn.tiny.cloud/1/erx0tzv216vcjang68atibtnv7y25quxs0ihgt71hk0lt1le/tinymce/6/tinymce.min.js" referrerpolicy="origin")
        script(src="/admin/js/tinymce-config.js")
        //-end tiny mce 

        script(src="/admin/js/script.js") 