extends ../../layouts/auth.pug
include ../../mixins/alert.pug

block main 

    +alert-error('1000')
        
    h1(class="text-center")  Đăng nhập

    div(class="flex justify-center")
        form(action=`${prefixAdmin}/auth/login` method="POST" class="w-[400px]")
            label(class="text-[20px]") Email
            input(type="email" id="email" name="email"  class="text-[18px] w-full pl-[10px] mt-[10px] mb-[30px] outline-none h-[50px] rounded-[8px] border border-[#CFCFCF]" required)
            label(class="text-[20px]") Mật khẩu
            input(type="password" id="passowrd" name="password" class="text-[18px]  w-full text-[18px] pl-[10px] mt-[10px] outline-none mb-[30px] h-[50px] rounded-[8px] border border-[#CFCFCF]" required)
            button(type="submit" class="cursor-pointer w-full h-[50px] rounded-[8px] text-[#ffff]  outline-none border border-[#0078F0] hover:bg-[#0066CC] bg-[#0078F0]" ) Đăng nhập