extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/products-layout.pug
include ../../mixins/alert.pug

block main 


    div(class="w-[1200px] mx-auto pt-[30px] pb-[30px]")
        +box-head(pageTitle)
        div #{user}
        

        