
doctype html
html 
    head 
        title #{pageTitle}
        link(rel="stylesheet", href="/css/style.css")
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    body 


        include ../partials/header.pug

        block main

        include ../partials/footer.pug

        script(src="/client/js/script.js")  


        