extends ../../layouts/default.pug
include ../../mixins/box-head.pug


block main 

    div(class="w-[1200px] mx-auto py-[50px]")
        include ../../partials/list-btn-users.pug


        div
            +box-head(pageTitle)
        div(class="flex gap-[10px]")
            each user in users
                .box-user
                    .inner-avatar
                        img(src="https://i.pravatar.cc/60", alt="Avatar")
                    .inner-info
                        h4 #{user.fullName}
                        .btn-group
                            button(class="cancel" btn-delete-friend=user.id) Hủy kết bạn

block script               
    script(type="module" src="/js/users.js") 


               

                            