@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto+Slab:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


* {
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

table th {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

table td {
    padding-top: 5px;
    padding-bottom: 5px;
}


button {
    background-color: white;
}


.filter .active {
    background-color: #28A745;
    color:  #ffff;
}

.pagination .active {
    background-color: #0078F0;
    color: #ffff;
}

[show-alert] {
    position: fixed;
    top: 70px;
    right: 15px;
    z-index: 9999;
}

[show-alert].alert-hidden {
    animation-name: alert-hidden;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes alert-hidden {
    from {
        right: 15px;
    }
    to {
        right: -100%;
        display: none
    }
}


