header(class="bg-[#202020] p-[10px] sticky top-0 z-[999] ")
    div(class="p-[2px] flex items-center justify-between")
        a(class="text-[24px] font-[700] text-[#fff]" href=`${prefixAdmin}/dashboard`) ADMIN
        div(class="")
            a(class=" mr-[10px] font-[700] p-[8px] rounded-[8px] border border-[#0078F0] hover:bg-[#0066CC] bg-[#0078F0] text-[#fff]" href=`${prefixAdmin}/my-account`) #{user.fullName}
            a(class=" font-[700] p-[8px] rounded-[8px] bg-[#DC3545] text-[#fff]" href=`${prefixAdmin}/auth/logout`) Đăng xuất
          
            