div(class="sider w-[150px] bg-[#323232] text-[#ffffff] h-[calc(100vh_-_32px)] fixed top-[32px] left-0") 
    div(class="inner-menu")
        ul
            li(class="border-b-[1px] border-b-[#515151] pt-[6px] pb-[6px] pl-[10px] pr-[10px]")
                a(href=`${prefixAdmin}/dashboard` class="text-[#ffff] ") Tổng quan
            li(class="border-b-[1px] border-b-[#515151] pt-[6px] pb-[6px] pl-[10px] pr-[10px]")
                a(href=`${prefixAdmin}/products` class="text-[#ffff] ") Sản phẩm
            
